#Mainppal {
    background-image: url("/img/figura.jpg");
    background-size: cover;
    padding: 1px;
    background-repeat: no-repeat,repeat;
    background-origin: content-box;
}
.header{
    background: linear-gradient(black,gray);
    border: solid 3px gray;
    padding: 30px;
    margin: 5px;
    display:flex;
    align-items:center;
    justify-content:space-around; 
}
.lista{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:space-between;
}
.datos{
    border: solid 3px gray;
    padding: 3px;
    margin: 2px;
    padding-left: 2%;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: flex-start;
}

.contactos{
    border: solid 3px gray;
    padding: 3px;
    margin: 2px;
    padding-left: 2%;
    display: flex;
    justify-items:flex-start;
    justify-content: space-between;
    background: linear-gradient(black,gray);

}

h2:hover{
    color: lightslategray;
    font-size: 30px;
}

.imagen{
    width: 100px;
    height: 120px;
    margin: 3px 10px 30px 10px;
    border-radius: 30%;
    border:2px solid rgb(221, 166, 48);
}


.tit{
color: rgb(155, 154, 151);
font-family: fantasy;
font-size: 70px;
margin: 1%;
padding: 2%;
text-shadow: 3px 3px 3px rgb(0, 0, 0);
align-self:center;
}

.links{
    color: rgb(247, 244, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

footer ul li a:hover{
    color: rgb(135, 163, 216);
    font-size: 20px;
}

.btn{
    border-radius: .25rem;
    padding: 10px;
    background-color: #272726;
    color: rgb(184, 175, 175);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    margin:10px;
    margin-top:2px;
}

#CONTACTO{
    color: rgb(247, 244, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-top: 10px;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#profesionales{
    color: rgb(247, 244, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

.logo2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:2px solid rgb(221, 166, 48);
}

.doctor{
    color: rgb(255, 254, 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    margin: 10px 0 0 0;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.parrafo{
    color: rgb(247, 244, 244);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.imagen2{
    width: 100px;
    height: 120px;
    border-radius: 30%;
    border:2px solid rgb(221, 166, 48);
    margin: 40px;
}



